@font-face {
  font-family:"RobotoMono-Regular";
  src: url("../font/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family:"NotoSans-Regular";
  src: url("../font/NotoSans-Regular.ttf") format("truetype");
}
#header > img {
	height: 7vh;
	display: block;
	margin: auto;
}
#header {
	width: 100%;
	margin-top:70px;
}

 body {
		width: 85vw;
    overflow-x: hidden;
    margin: auto;
		max-width:1000px;
    position: unset !important;
}
#nevigation {
	text-align: center;
	margin-top: 75px;
	margin-right: auto;
	margin-bottom: 59px;
	margin-left: auto;

}
#nevigation > .item {
		display: inline-grid;
		margin-left: 2vw;
		margin-right: 2vw;
}

#nevigation > .item > a {
			text-decoration: none;
			font-family: "Roboto Mono"
}


.owl-nav {
	width: 100%;
	position: absolute;
	top: calc(50% );
	max-width: 1000px;
}
.owl-prev,.owl-next{
	position: absolute;

}
.owl-prev {
	left: -7%;
}

.owl-next {
	right: -7%;
}

.title {
	text-align: center;
	margin-top: 8.5%;
	font-family: "Roboto Mono";
	font-size: 23px;
	margin-bottom: 3.5%;
}

.owl-dot, .owl-next, .owl-prev  {
	outline: none;
}
.grid {
	width: calc(31.3%);
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-top: 5%;
	margin-left: 1%;
	margin-right: 1%;
}

.homegrid {
	width: calc(31.3%);
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-bottom: 1%;

}

.grid2{
	margin-left: 3%;
	margin-right: 3%;
}
.grid>img {
	width:100%;
}

.moreButton {
	width: 239px;
	height: 74px;
	background-color: white;
	margin-top: 3.5% !important;
	font-family: "Noto sans-serif";
	outline: none;
	display: block;
	margin: auto;
	font-size: 20px;
}
.moreButton:hover, .contact-btn:hover, .creditcard-btn:hover {
		border-color: lightblue
	}
#FollowUs >.title{
	margin-bottom:30px;
}
#FollowUs {
	text-align: center;
	padding-top: 15px;
}

.inputWithIcon > input[type=text] {
	width: 184px;
	border: 1px solid #000;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	transition: width 0.4s ease-in-out;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 11px;
}


.inputWithIcon {
	position: relative;
	display: inline-block;
	overflow: hidden; 
	white-space: nowrap;
	width:239px;
}

.inputWithIcon svg {
	color: #aaa;
	transform: translate(-100%, 10px) !important;
	margin-left: -8px;
	padding-right: 8px;

}

.inputWithIcon input[type=text]:focus + svg {
		color: dodgerBlue;
}

.inputWithIcon.inputIconBg svg {
		background-color: #aaa;
		color: #fff;
		border-radius: 4px 0 0 4px;
}


#footer-container {

    bottom: 0;
    /* color: #707070; */
    /* height: 2em; */
    left: 0;
    position: relative;
    font-size: small;
    width: 100%;
    text-align: center;

}

img.footer-icon {
	display: inline-grid;
	width: 22px;
	margin: 3px 8px;
}

.footer-icon-container {
    margin: auto;
}

.triangle {
    width: 9em;
    height: 9em;
    background-color: #fff;
    position: fixed;
    right: 0px;
    top: 0px;
	z-index: -1;
}

.triangle::before,
.triangle::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.triangle::before {
	    border-width: 4.43em;
    border-right-color: #ccc;
    border-top-color: #ccc;
}

.triangle::after {
    border-width: 4.35em;
    border-right-color: #fff;
    border-top-color: #fff;
}
.triangle>.content{

	position: absolute;
    width: 100px;
    left: 0px;
    text-align: center;
    font-size: 16px;
    font-family: arial;
    z-index: 1;
    padding-left: 3.5em;
    padding-top: 2.3em;
}
.cartNumber{
	padding-left: 5px;
	vertical-align: middle;
}

.cartBtn{
display: inline-block;
vertical-align: middle;
}

svg.cd-cart-trigger {
    margin: 1em 0;
}

@media only screen and (min-width: 1px) {
  #Product > div {
	width:100%;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	}


	#Product >.productcol> #name {
	text-align: center;
	}
	.form-container {
    max-width: 70vw;
    padding: 10px;
    background-color: white;
	}

	#Blog>.grid-3,#Shop>.grid-3{

    margin: auto;
    text-align: center;
	}
	.contact-col{
		width:100%
	}
}


@media only screen and (min-width: 768px) {

	.contact-col{
		width:48%
	}
    .productcol {
		width:45% !important;
		display:inline-block!important;
		vertical-align:top!important;
		}

	#Product >.productcol> #name {
	text-align: left;
	}

	.form-container {
		max-width: 380px;
		padding: 10px;
		background-color: white;
	}

	#Blog>.grid-3,#Shop>.grid-3{

    margin: auto;
    text-align: center;
	}
}

#Product{
	margin-left:auto;
	margin-right:auto;
}
.checkout-btn{
	width: 60%;
    height: 50px;
    background-color: white;
    font-family: "Roboto Mono";
    outline: none;
    display: block;
    margin-left: 20px;
}

.checkout-btn:hover {
	border-color:lightblue
}


.addCart-btn {
    width: 150px;
    height: 45px;
    background-color: white;
    margin-top: 28px !important;
    font-family: "Roboto Mono";
    outline: none;
	display: block;
	}

.addCart-btn:hover {
	border-color:lightblue
}


.number-input {

  background-color:white;
  border: 1px solid;
  color:black;
  text-align:center;
  width:35px;
  font-size:18px;
  line-height:normal;
  padding:0;
  outline:none;
 border:none;
 vertical-align:middle;
}




.productcol>#price,.productcol>#quantity,.price_title.total{
	font-weight:bold
}
#productDetail>p,#Blog>p{
	line-height:3.0
}

#productDetail > .banner{
	width:100%
}
.contact-col{
    display: inline-block;
    vertical-align: middle;
}
#contact {
    padding-left: 13%;
}

.contact_input{
  width: 78%;
  padding: 12px 20px;

}

.contact_textArea{
  width: 78%;
  height: 150px;
  padding: 12px 20px;
  font-size: 16px;
  resize: none;
}
.contact-btn {
    width: 150px;
    height: 45px;
    background-color: white;
    font-family: "Roboto Mono";
    outline: none;
	display: block;
}

.creditcard-btn {
	height: 45px;
	background-color: white;
	font-family: "Roboto Mono";
	outline: none;
	margin: auto;
	display: flex;
	align-items: center;
	padding: 23px 35px;
}

#order{
	text-align:center;
	padding-left: 5vw;
    padding-right: 5vw;
}
#orderId>*,#status>*,.orderQty>*,.orderQty{
	display:inline-block;
}

#status >h3{
	padding-right:10px;
}

.order-img {
    width: 100%;
    max-width: 150px;
}

#info>*>div>*{
	display: inline-block;
	vertical-align: middle;
}

.img_order,.orderDetail_title{
	width: 15%;
    display: inline-block;
    vertical-align: middle;
	text-align: left;
}

.order_title{
	width: 42.5%;
    display: inline-block;
    vertical-align: middle;
	text-align: left;
}


.orderProduct,#info>*>div>.space50{
	width: 64%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
	word-wrap: break-word;
	padding-left:2.5%;
}

.space15{
	width: 15%;
}

.orderDetailContent{
	text-align:right;
	width:13%
}



.orderContent{
	text-align:right;
	width:36%

}

.form-popup {
  display:none;
  position: fixed;
  top: 5%;
  left: 50%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container input[type=text]{
  width: 85%;
  padding: 15px;
  border: solid;
  background: #ffffff;
  border-color: grey;
  border-width: thin;
	border-bottom: none;
}

.form-container textarea{
	width: 85%;
    padding: 15px;
    border: solid;
    background: #ffffff;
    border-color: grey;
    border-width: thin;
    height: 152px;
	resize: none;
}
.form-container textarea::placeholder,.form-container input[type=text]::placeholder{
	font-size: 14px
}

.form-container textarea::-webkit-input-placeholder,.form-container input[type=text]::-webkit-input-placeholder {
  font-family:  Arial, Helvetica, sans-serif;
}

.form-container textarea::-ms-input-placeholder,.form-container input[type=text]::-webkit-input-placeholder {
  font-family:  Arial, Helvetica, sans-serif;
}

.form-container textarea::-moz-placeholder,.form-container input[type=text]::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.form-container textarea::-moz-placeholder,.form-container input[type=text]::-webkit-input-placeholder {
  font-family:  Arial, Helvetica, sans-serif;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

#order_product>.detail{
	padding-bottom:15px;
}
#productDetail{
	padding-top:20px;
}

#footer-container{
	padding-top:100px;
}
.cd-name {
    word-wrap: break-word;
}

a {
    color: grey;
    text-decoration-line: none;
}


.loader {
	border: 5px solid #f3f3f3;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top: 5px solid #555;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	margin-left: 12px;
}

.creditcard-btn-text, .loader {
	display: inline-block;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


#nevigation > .item > a{
	color:#000;
}

.backTo {
	display: block;
	padding-bottom: 5px;
}
.backTo >* {
	display:inline-block;
	vertical-align: middle;
	font-size: 14px;
  color: #000;
}
.backIcon{
	padding-right:8px;
}

html.overflow-hiden {
	overflow: hidden;
}
#overlay{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

button {
    border-width: thin;
    border-color: #7b7b7b;
}
